:root {
    --font-family: 'Inter';

    --accent-color: '#FF181F';
    --light-accent-color: '#FFD1D2';
    --black-color: '#000';
    --second-text-color: '#626264';
    --secondary-color: '#B1B5C3';
    --light-gray-color: '#F5F5F5';
    --light-gray-color2: '#F1F4F3'; 
    --middle-gray-color: '#BCBFC2';
    --gray-color: '#777E90';

    --base-radius: '20px';
}